<template>
  <CheckInForm></CheckInForm>
</template>

<script>
//import HelloWorld from './components/HelloWorld';
import CheckInForm from './components/CheckInForm'

export default {
  name: 'App',

  components: {
    //HelloWorld,
    CheckInForm,
  },

  data: () => ({
    //
  }),
};
</script>
